{% extends "layout.html" %}


{% block title %}
Home App
{% endblock %}


{% block content %}
    <h1>Welcome to the Home Page</h1>

    <h2>{% if form.instance.pk %} Edit Tweet
        {% else %} Create Tweet
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <a href="{% url 'tweet_list' %}" class="btn btn-warning mt-2">Cancel</a>
    </h2>
{% endblock %}
